<mat-card class="mt40px ">
    <h1 style="color:gray;"> Update question </h1>

    <mat-card-content>

        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="formSubmit()">

                        <!-- content field -->
                        <!-- <mat-form-field class="w100" appearance="outline">
                            <mat-label> Write question content</mat-label>
                            <textarea [(ngModel)]="question.content" name="content" placeholder="Enter question content" matInput autofocus
                                rows="5"></textarea>
                        </mat-form-field> -->

                        <!-- content field using rich text field -->
                        <div class="mb20px">
                            <ckeditor [editor]="Editor" name="content" [(ngModel)]="question.content">
                            </ckeditor>
                        </div>

                        <!-- options -->
                        <div class="row">
                            <div class="col-md-6">
                                <!-- option1 -->
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Enter option1 </mat-label>
                                    <input [(ngModel)]="question.option1" required type="text" name="option1"
                                        placeholder="Enter here" matInput>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <!-- option2 -->
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Enter option2 </mat-label>
                                    <input [(ngModel)]="question.option2" required type="text" name="option2"
                                        placeholder="Enter here" matInput>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <!-- option3 -->
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Enter option3 </mat-label>
                                    <input [(ngModel)]="question.option3" type="text" name="option3"
                                        placeholder="Enter here" matInput>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <!-- option4 -->
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Enter option4 </mat-label>
                                    <input [(ngModel)]="question.option4" type="text" name="option4"
                                        placeholder="Enter here" matInput>
                                </mat-form-field>
                            </div>

                            <!-- answer -->
                            <div class="col-md-12">
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Select answer </mat-label>
                                    <mat-select required [(ngModel)]="question.answer" name="answer">

                                        <mat-option *ngIf="question.option1"
                                            [value]="question.option1">{{question.option1}}</mat-option>
                                        <mat-option *ngIf="question.option2"
                                            [value]="question.option2">{{question.option2}}</mat-option>
                                        <mat-option *ngIf="question.option3"
                                            [value]="question.option3">{{question.option3}}</mat-option>
                                        <mat-option *ngIf="question.option4"
                                            [value]="question.option4">{{question.option4}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="container text-center mt20px">
                            <button mat-raised-button class="backgroundColor"> Update </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </mat-card-content>

</mat-card>