.full-width {
  width: 75%;
}

.backgroundColor {
  background: #563d7c;
  color: white;
}

.ml40px {
  margin-left: 40px;
}
.mr40px {
  margin-right: 40px;
}
.mt40px {
  margin-top: 40px;
}
.mb40px {
  margin-bottom: 40px;
}

.profile-image {
  max-width: 200px;
  max-height: 200px;
  border: 2px solid rgb(31, 31, 31);
  border-radius: 50%;
}

.ml30px {
  margin-left: 30px;
}
.mr30px {
  margin-right: 30px;
}
.mt30px {
  margin-top: 30px;
}
.mb30px {
  margin-bottom: 30px;
}

.table {
  width: 100%;
  /* border: 1px solid #563d7c; */
  border-collapse: collapse;
}

.table tr td {
  padding: 10px 50px;
  /* border: 1px solid #563d7c; */
  border: 0.5px solid #e2e2e2;
}

.ml20px {
  margin-left: 20px;
}
.mr20px {
  margin-right: 20px;
}
.mt20px {
  margin-top: 20px;
}
.mb20px {
  margin-bottom: 20px;
}

.ml10px {
  margin-left: 10px;
}
.mr10px {
  margin-right: 10px;
}
.mt10px {
  margin-top: 10px;
}
.mb10px {
  margin-bottom: 10px;
}

.mB15px {
  margin-bottom: 15px;
}
